<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dirkster.NumericUpDownLib" version="2.1.1" targetFramework="net451" />
  <package id="Microsoft.CSharp" version="4.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net451" />
  <package id="System" version="4.1.0311.2" targetFramework="net451" />
  <package id="System.Core" version="3.5.21022.801" targetFramework="net451" />
  <package id="System.Windows.Forms" version="4.0.0.0" targetFramework="net451" />
  <package id="ThermalTalk" version="2.1.1" targetFramework="net451" />
  <package id="ThermalTalk.Imaging" version="2.0.0" targetFramework="net451" />
</packages>